body{
    background-color: rgba(124, 130, 134, 0.677);
}

h1{
    color: rgb(2, 23, 23);
}

#form{
    color: blueviolet;
}

#submit{
    color: blue;
    font-size: 20px;
}

#contenedor{
    color: rgb(156, 10, 98);
}
